@use "variables" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $surface-base;
  font-family: Inter, Arial, sans-serif;
}

.block {
  max-width: 1400px;
  margin: 0 auto;
  padding: 18px 0px 12px;

  @include desktop-down {
    max-width: 100%;
    width: 100%;
    padding: 18px 38px 12px;
  }

  @include desktop-down {
    max-width: 100%;
    width: 100%;
    padding: 18px 18px 12px;
  }
}

p {
  color: $dark-neutral;
}